/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
      font-family: 'Montserrat';
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      color: #060606;
  }

  #outer-container{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
  }

.union{
    grid-row: 1/2;
}
.header_list{
    display: flex;
}
li {
    list-style-type: none;
    text-decoration: none;
}
.header_item{
    margin-right: 35px;
    font-size: 18px;
    font-weight: 500;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    text-decoration: none;
}

.lang{
    text-decoration: none;
}
/* Header styles end */
/* Main styles start */
.video_1{
    grid-row: 2/3;
    height: 722px;
    background: url(../img/Sparkle\ Video\ 1.png) no-repeat;
    background-size: cover;
}
