/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff');
}
/* oswald-regular - latin-ext_latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v35-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/oswald-v35-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oswald-v35-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oswald-v35-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oswald-v35-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oswald-v35-latin-ext_latin-regular.svg#Oswald') format('svg'); /* Legacy iOS */
  }
  /* oswald-500 - latin-ext_latin */
  @font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/oswald-v35-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/oswald-v35-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/oswald-v35-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/oswald-v35-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/oswald-v35-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/oswald-v35-latin-ext_latin-500.svg#Oswald') format('svg'); /* Legacy iOS */
  }
html{
    box-sizing: border-box;
}
  *, *::before, *::after{
      box-sizing: inherit;
}

body{
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    color: #060606;
    margin: 0; 
}

#outer-container{
    display: grid;
    grid-template-rows: 769px 414px 398px 429px 817px 422.57px 59.32px 376px;
    grid-template-columns: 1fr;
    gap: 5px;
}
/* Header styles start */
.union{
    grid-area: 1/1/2/2;
}
#header_wrap{
    display: grid;
    grid-template-rows: 47px 38.07px 55px 649px;
    grid-template-columns: 208px 1fr;
    gap:5px;
}
.header_logo{
    grid-area: 1/1/3/2;
    margin-left: 62px;
}
.header_union{
    grid-area: 1/2/2/3;
    display:inline-flex;
    justify-self:flex-end;
}
.menu_img{
display: none;
 }
.menu_mobile{
    display: none;
}
.header_nav{
    grid-area: 2/2/3/3;
    background-color: white;
    z-index: 1;
}
.header_list{
    margin-left: 84px;
    display: flex;
    justify-content: space-around;
}
.responsive_menu{
    display: none;
}
.responsive_menu._active{
    grid-area: 1/1/5/3; 
    display: block;
    width: 100%; 
    height: 1024px;
    background-color: white;
    z-index: 10;
    object-fit: cover;
    object-position: center;
}
.resp_header{
    height: 81px;
    margin-bottom: 109px;
    display: flex;
    justify-content: space-between;
}
.logo_black_menu{
    margin-left: 80px;
    width: 128px;
}
.menu_close{
    width: 20px;
    height: 20px;
    margin-top: 35px;
    margin-right: 80px;
}
.language{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.lang_resp{
    width: 40px;
    height: 24px;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin-right: 88px;
}
.lang_resp:last-child{
    margin-right: 0;
}
.lang_resp:hover{
    opacity: 1;
    text-decoration: underline #FFA800;
}
.menu_list li{
    display:flex;
    justify-content: center;
    list-style: none;
}
.menu_link{
    opacity: 1;
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 80px;
    color: rgba(0, 0, 0, 1);
}
.menu_link:hover{
    text-decoration: underline #FFA800;
}
.resp_menu_mobile{
    display: none;
}
.lang{
    margin-left: 51px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    color: rgba(6,6,6,1);
}
.header_link{
    text-decoration: none;
    /* margin-right: 35px; */
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    color: rgba(6,6,6,1);
}
.lang{
    text-decoration: none;
}
.resp_menu_mobile{
    display: none;
}
.resp_menu_mobile._active{
    grid-area: 1/1/5/4; 
    display: block;
    width: 100%; 
    height: 568px;
    background-color: white;
    z-index: 10;
    object-fit: cover;
    object-position: center;
}
.resp_header_mob{
    /* height:48.03px; */
    margin-bottom: 43.97px;
    display: flex;
    justify-content: space-between;
}
.logo_menu_mob{
    width: 76.95px;
    margin-left: 19.89px;
}
.menu_closemobile{
    width: 14.8px;
    height: 14.8px;
    margin-top: 17.45px;
    margin-right: 16.47px;
}
.languages_mob{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.lang_resp_mob{
    width: 40px;
    height: 24px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    margin-right: 20px;
}
.lang_resp_mob:last-child{
    margin-right: 0;
}
.lang_resp_mob:hover{
    opacity: 1;
    text-decoration: underline #FFA800;
}
.menu_list_mob li{
    display:flex;
    justify-content: center;
    list-style: none;
}
.menu_link_mob{
    opacity: 1;
    font-family: 'Montserrat';
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 1);
}
.menu_link_mob:hover{
    text-decoration: underline #FFA800;
}
.header_vector{
    grid-area: 3/1/4/3;
    background-image: url(../img/ripped\ 6\ 11.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.video_1{
    grid-area: 3/1/5/3; 
    background-image: url(../img/Sparkle\ Video\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.play{
    display: flex;
    justify-content: center;
    margin-top: 246px;
}
/* Header styles end */
/* Main styles start */
.text{
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: center;
}
.container{ 
    height: 114px;
    width: 654px;
    margin-top:150px;
    margin-bottom: 150px;
    text-align: center;
    color: rgba(47,72,88,1);
}
.gallery{
    grid-area: 3/1/4/2;
}
#inner_gallery{
    display: grid;
    grid-template-rows: 55px 180px 184px 55px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.ripped_6_7{
    grid-area: 1/1/2/5;
    background: url(../img/ripped\ 6\ 7.svg) no-repeat;
    background-size: cover;
    z-index: 1;
}
.Zanda{
    grid-area: 1/1/5/2;
    margin-top: 14px;
    /* background: url(../img/Zanda_1.jpg) no-repeat;
    background-size: cover;*/
    /* width: auto;
    height: 474px;
    object-fit: cover;
    object-position: center; */
    /* width: 328px;*/
    /* height: 355px; */
}
.zanda_img{
    width: 100%;
    height: 429px;
    object-fit: cover;
    object-position: center;
}
.Sibilla{
    grid-area: 1/2/5/3;
    margin-top: 19px;
    /* background: url(../img/Sibilla_4.jpg) no-repeat;
    background-size: cover; */
    /* width: 334px;
    height: 364px; */
}
.sibilla_img{
    width: 100%;
    height: 429px;
    object-fit: cover;
    object-position: center;
}
.Brinummeita{
    grid-area: 1/3/3/4;
    margin-top: 19px;
    /* background: url(../img/Brinuma_meita-15.jpg) no-repeat;
    background-size: cover; */
    /* width: 298px;
    height: 180px; */
}
.brinummeita_img{
    width: 100%;
    height: 216px;
    object-fit: cover;
    object-position: center;
}
.Alina{
    grid-area: 3/3/5/4;
    /* background: url(../img/Alina_1\ 1.jpg) no-repeat;
    background-size: cover; */
    /* width: 298px;
    height: 184px; */
}
.alina_img{
    width: 100%;
    height: 239px;
    object-fit: cover;
    object-position: center;
}
.Anda{
    grid-area: 1/4/5/5;
    /* background: url(../img/Anda_2\ 1.jpg) no-repeat;
    background-size: cover; */
    /* width: 406px;
    height: 383px; */
}
.anda_img{
    width: 100%;
    height: 448px;
    object-fit: cover;
    object-position: center;
}
.ripped_6_8{
    grid-area: 4/1/5/5;
    background: url(../img/ripped\ 6\ 8.svg) no-repeat;
    background-size: cover;
    z-index: 1;
}
.register{
    grid-area: 4/1/5/2;
}
#inner_gallery_mobile{
    display: none;
}
#inner_register{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;
    gap:5px;
}
#inner_register_mobile{
    display: none;
}
.sapnotajiem{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uznemejiem{
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reg_1{
    font-family: 'Oswald';
    font-size: 24px;
    color: #2F4858;
    font-weight: 500;
    line-height: 35.57px;
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    width: 394px;
}
.reg_2{
    font-family: 'Oswald';
    font-size: 24px;
    color: #2F4858;
    font-weight: 500;
    line-height: 35.57px;
    margin-top: 150px;
    margin-bottom: 50px;
    /* margin-left: 84px; */
    text-align: center;
    width: 500px;
}
.poga_reg_1{
    width: 233px;
    height: 50px;
    /* margin-left: 300px; */
    margin-bottom: 150px;
}
.poga_reg_2{
    width: 233px;
    height: 50px;
    /* margin-left: 218px; */
    margin-bottom: 150px;
}
.formcontainer{
    grid-area: 5/1/6/2;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.meil{
    height: 48px;
    width: 819px;
    font-family: 'Oswald';
    font-size: 30px;
    font-weight: 500;
    color: #2F4858;
    margin-bottom: 55px;
    text-align: center;
}
.log{
    display: flex;
    flex-direction: column;
    width: 612px;
    align-items: center;
}
.log_in{
    display: flex;
    flex-direction: row;
}
.logtext{
    width: 296px;
    height: 43px;
    border-radius: 6px;
    background: rgba(196, 196, 196, 0.4);
    margin-right: 20px;
    color: rgb(47,72,88,1);
    font-family: 'Montserrat';
    font-size: 18px;
    border-style: none; 
}
.signemail{
    width: 296px;
    height: 43px;
    border-radius: 6px;
    background: rgba(196, 196, 196, 0.4);
    color: rgb(47,72,88,1);
    font-family: 'Montserrat';
    font-size: 18px;
    border-style: none;
}
.telephone{
    width: 612px;
    height: 43px;
    border-radius: 6px;
    background: rgba(196, 196, 196, 0.4);
    color: rgb(47,72,88,1);
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 18px;
    border-style: none;
}
.comment{
    width: 612px;
    height: 232px;
    border-radius: 6px;
    background: rgba(196, 196, 196, 0.4);
    color: rgb(47,72,88,1);
    margin-top: 15px;
    font-family: 'Montserrat';
    font-size: 18px;
    border-style: none;
    padding-top: 12px;
    padding-left: 12px;
}
.lauki{
    margin-top: 15px;
    height: 25px;
    width: 612px;
    font-size: 14px;
}
.check{
    margin-top: 25px;
    margin-bottom: 50px;
    height: 39px;
    width: 612px;
    /* display: flex; */
}
.formcheck{
    display:flex;
    flex-wrap: nowrap;
}
#check.inputcheck{
    margin-bottom: 21px;
}
.check_text{
    margin-left: 21px;
    font-size: 14px;
}
.sbmbutton{
background-color: white;
border: none;
padding:0;
}
.sbmbutton:focus {
    outline: none !important
    }
.atbalstitaji{
    grid-area: 6/1/8/2;
    background: url(../img/Subtract.png) no-repeat;
    background-size: cover;
}
#inner_atbalstitaji{
    display: grid;
    grid-template-rows: 218px 404.32px;
    grid-template-columns: 25% 25% 25% 25%;
    gap:5px;
}
.heading{
    grid-area: 1/1/2/5;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 35.37px;
    color: rgba(47,72,88,1);
}
.icon_1{
    grid-area: 2/1/3/2;
    /* background: url(../img/getlogo\ 1.png) no-repeat; */
    align-items: flex-start;
    direction: rtl;
}
.icon_2{
    grid-area: 2/2/3/3;
    /* background: url(../img/sem_logo-2\ 1.png) no-repeat; */
    display: flex;
    align-items: flex-start;
    direction: rtl;
}

/* .sem{
    display: flex;
    align-items: inherit;
    justify-content: right;
} */
.icon_3{
    grid-area: 2/3/3/4;
    /* background: url(../img/Citybee-logo\ 1.png) no-repeat; */
    display: flex;
    align-items: flex-start;
    direction: rtl; 
}
.icon_4{
    grid-area: 2/4/3/5;
    /* background: url(../img/logo1\ 1.png) no-repeat; */
    display: flex;
    align-items: flex-start;
    justify-content: center; 
}
#inner_atbalstitaji_mobile{
    display: none;
}
.hidden_footer{
    grid-area: 7/1/8/2;
}
footer{
    grid-area: 7/1/9/2;
    background: url(../img/footer.png) no-repeat;
    background-size: cover;
}
#inner_footer{
    display:grid;
    grid-template-rows: 376px;
    grid-template-columns: 25% 25% 25% 25%;
    gap:5px;
}
.logo{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 71px;
}
.footer_logo{
    margin-bottom: 70px;
}
.tiesibas{
    margin-bottom: 13px;
    color: rgba(255,255,255,1);
    font-size: 14px;  
}
.inner_menu{
    grid-area: 1/2/2/3;
}
.footer_item{
    margin-bottom: 21px;
}
.footer_item:first-child{
    margin-top: 69px;
}
.footer_item:last-child{
    margin-bottom: 56px;
}
.footer_link{
    color: rgba(255,255,255,1);
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 21px;
}
.biedriba{
    grid-area: 1/3/2/4;
    color: rgba(255,255,255,1);
}
.heart{
    margin-bottom: 10px;
}
.sparkle{
    font-size: 24px;
    margin-top: 70px;
    margin-bottom: 22px;
}
.kontakti{
    grid-area: 1/4/2/5;
    margin-right: 64px;
}
.name2{
    font-size: 24px;
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 71px;
}
.name1{
display:none;
}
.kont{
    font-size: 18px;
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 12px;
}
.kont:last-child{
    margin-bottom: 20px;
}
.kontakt_img{
    text-align: right;
    margin-top:52px;
    margin-bottom: 51px;
}
.facebook{
    margin-right: 29px;
}
#inner_footer_mobile{
    display: none;
}
#inner_footer_tablet{
display: none;
}
@media (max-width: 768px){
.header_nav{
    display: none;
}
.menu_img{
    display: flex;
    margin-top: 35px;
    margin-right: 19.01px;
}
.menu_mobile{
    display: none;
}
#inner_gallery_mobile{
    display: none;
}
#inner_register_mobile{
    display: none;
}
#inner_atbalstitaji_mobile{
    display: none;
}
#inner_footer{
    display: none;
}
#inner_footer_tablet{
    display:grid;
    grid-template-rows: 376px 1fr;
    grid-template-columns: 1fr 1fr;
}
.logo{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.kontakti{
    grid-area: 1/2/2/3;
    margin-top: 71px;
    margin-right: 64px;
}
.name1{
    font-size: 24px;
    color: rgba(255,255,255,1);
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}
.name2{
    display: none;
}
.tiesibas{
    grid-area: 2/1/3/3;
    font-size: 16px;
}
.inner_menu{
    display: none;
}
.biedriba{
    display: none;
}
#inner_footer_mobile{
    display: none;
}
}
@media (max-width: 320px){
.menu_img{
    display: none;
}
.responsive_menu{
    display: none;
}

.resp_menu_mobile{
    display: none;
}
.menu_mobile{
    display: flex;
    margin-top: 35px;
    margin-right: 19.01px;
    width: 15px;
    height: 15px;
}
#inner_gallery{
    display: none;
}
#inner_gallery_mobile{
    display: grid;
    grid-template-rows: 24px 89px 82px 183px 25px;
    grid-template-columns: auto 32px auto;
}
.ripped_6_7{
    grid-area: 1/1/2/4;
    /* background: url(../img/ripped\ 6\ 7.svg) no-repeat;
    background-size: cover; */
    z-index: 1;
}
.Brinummeita{
    grid-area: 1/1/3/2;
    /* background: url(../img/Brinuma_meita-15.jpg) no-repeat;
    background-size: cover; */
    margin-top: 7px;
}
.brinummeita_mob{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.Alina{
    grid-area: 3/1/4/2;
    /* background: url(../img/Alina_1\ 1.jpg) no-repeat;
    background-size: cover; */
}
.alina_mob{
    width: 100%;
    height: 85px;
    object-fit: cover;
    object-position: center;
} 
.Anda{
    grid-area: 1/2/4/4;
    /* background: url(../img/Anda_2\ 1.jpg) no-repeat;
    background-size: cover; */
}
.anda_mob{
    width: 100%;
    height: 195px;
    object-fit: cover;
    object-position: center;
} 
.Zanda{
    grid-area: 4/1/6/3;
    /* background: url(../img/Zanda_1.jpg) no-repeat;
    background-size: cover; */
    margin-top: 0;
}
.zanda_mob{
    width: 100%;
    height: 208px;
    object-fit: cover;
    object-position: center;
} 
.Sibilla{
    grid-area: 4/3/6/4;
    /* background: url(../img/Sibilla_4.jpg) no-repeat;
    background-size: cover; */
    margin-top: 0;
}
.sibilla_mob{
    width: 100%;
    height: 208px;
    object-fit: cover;
    object-position: center;
} 
.ripped_6_8{
    grid-area: 5/1/6/4;
    background: url(../img/ripped\ 6\ 8.svg) no-repeat;
    background-size: cover;
    z-index: 1;
}
#inner_register{
    display: none;
}
#inner_register_mobile{
    display: grid;
    grid-template-rows: 309px 255px;
    grid-template-columns: 1fr;
    gap:5px;
} 
.sapnotajiem{
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uznemejiem{
    grid-area: 2/1/2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poga_reg_1{
    margin-bottom: 50px;
}
.meil{
    margin-top: 120px;
}
#inner_atbalstitaji{
display: none;
}
#inner_atbalstitaji_mobile{
    display: grid;
    grid-template-rows: 176.08px 81.92px 96.2px;
    grid-template-columns: 50% 50%;
}
.heading{
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 24px;
    line-height: 35.37px;
    color: rgba(47,72,88,1);
}
.icon_1{
    grid-area: 2/1/3/2;
    /* background: url(../img/getlogo\ 1.png) no-repeat; */
}
.icon_2{
    grid-area: 2/2/3/3;
    direction: ltr;
    display: flex;
    justify-content: center;
    /* background: url(../img/sem_logo-2\ 1.png) no-repeat; */
}
.icon_3{
    grid-area: 3/1/4/2;
    /* background: url(../img/Citybee-logo\ 1.png) no-repeat; */
}
.icon_4{
grid-area: 3/2/4/3;
/* background: url(../img/logo1\ 1.png) no-repeat; */
}

#inner_footer{
display: none;
}
#inner_footer_mobile{
display:grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr;
}
#inner_footer_tablet{
display: none;
}
}

/* my coment */