/* montserrat-regular - latin-ext_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin-ext_latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v15-latin-ext_latin-regular.woff') format('woff');
}
  html{
      box-sizing: border-box;
  }
  *, *::before, *::after{
      box-sizing: inherit;
  }

  body{
      font-family: 'Montserrat';
      font-size: 18px;
      font-style: normal;
      font-weight: normal;
      color: #060606;
  }

#outer-container{
      display: grid;
      grid-template-rows: 814.51px 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
  } 
.union{
    grid-row: 1/2;
    grid-column: 1;
}
#header_wrap{
    display: grid;
    grid-template-rows: 92.51px 34.93px 722px;
    grid-template-columns: 1fr;
 }
.header_nav{
    grid-row: 1/2;
    grid-column: 1;
    display: flex;
}
.header_list{
    display: flex;
}
li {
    list-style-type: none;
    text-decoration: none;
}
.header_item{
    margin-right: 35px;
    font-size: 18px;
    font-weight: 500;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    text-decoration: none;
}

.lang{
    text-decoration: none;
}
.header_vector{
    grid-row: 2/3;
    grid-column: 1;
    background: url(../img/Vector_header.png) no-repeat;
    background-size: cover;
    z-index: 1;
}
/* Header styles end */
/* main styles start 
.main{
    grid-row: 2/3;
}
#inner_grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}*/
.video_1{
    grid-row: 2/4;
    grid-column: 1;
    background: url(../img/Sparkle\ Video\ 1.png) no-repeat;
    background-size: cover;
}
